<!-- ko ifnot: settings.plugins.psucontrol -->
<span class="help-inline label label-important">This plugin requires <a href="https://plugins.octoprint.org/plugins/psucontrol/" target="_blank">PSU Control</a> in order to function. It can be installed from the Plugin Manager.</span>
<!-- /ko -->
<!-- ko if: settings.plugins.psucontrol && !(settings.plugins.psucontrol.switchingMethod() === "PLUGIN" && settings.plugins.psucontrol.switchingPlugin() === "psucontrol_homeassistant") -->
    <span class="help-inline label label-important">Please set the switching method to <b>PLUGIN</b> and the switching plugin to <b>PSU Control - HomeAssistant</b> in the PSU Control settings to use this plugin.</span>
<!-- /ko -->
<!-- ko if: settings.plugins.psucontrol && !(settings.plugins.psucontrol.sensingMethod() === "PLUGIN" && settings.plugins.psucontrol.sensingPlugin() === "psucontrol_homeassistant") -->
    <span class="help-block label label-important">Please set the sensing method to <b>PLUGIN</b> and the sensing plugin to <b>PSU Control - HomeAssistant</b> in the PSU Control settings to use this plugin.</span>
<!-- /ko -->
<!-- ko ifnot: settings.plugins.psucontrol.autoOn() -->
<form class="form-horizontal">
    <h4>PSU Control - HomeAssistant settings</h4>
    <div class="control-group">
        <label class="control-label">Address</label>
        <div class="controls">
            <input type="text" class="input" data-bind="value: settings.plugins.psucontrol_homeassistant.address">
            <span class="help-block">The IP address or hostname of your HomeAssistant server. e.g. http://ip:port or http://hostname:port. Do not include a trailing slash /</span>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Access token</label>
        <div class="controls">
            <input type="text" class="input" data-bind="value: settings.plugins.psucontrol_homeassistant.api_key">
            <span class="help-block">The long-lived access token generated by HomeAssistant. See <a href="https://github.com/edekeijzer/OctoPrint-PSUControl-HomeAssistant#configuration" target="_blank">plugin configuration</a> for more info.</span>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Entity ID</label>
        <div class="controls">
            <input type="text" class="input" data-bind="value: settings.plugins.psucontrol_homeassistant.entity_id">
            <span class="help-block">The ID of the entity you'd like to control. Can be anything supporting the turn_on/turn_off services, but a switch would make the most sense.</span>
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <label class="checkbox">
            <input type="checkbox" data-bind="checked: settings.plugins.psucontrol_homeassistant.verify_certificate"> Verify certificate
            </label>
            <!-- ko if: settings.plugins.psucontrol_homeassistant.verify_certificate -->
            <span class="help-block">Verify TLS certificate and do not connect on certificate issues.</span>
            <!-- /ko -->
            <!-- ko ifnot: settings.plugins.psucontrol_homeassistant.verify_certificate -->
            <span class="help-block">Do not verify TLS certificate.</span>
            <!-- /ko -->
        </div>
    </div>
</form>
<!-- /ko -->
<!-- ko if: settings.plugins.psucontrol.autoOn() -->
<span class="help-inline label label-important">Please DISABLE <u>Automatically turn PSU ON</u> in the PSU Control settings, it will otherwise ruin your prints when HA becomes unavailable.<br>
See <a href="https://github.com/edekeijzer/OctoPrint-PSUControl-HomeAssistant#setup" target="_blank">setup</a> for more info.</span>
<!-- /ko -->
